body {
  font-family: sans-serif;
}

/* 場 */
#field {
  position: relative;
  width: 900px;
  height: 500px;
}

/* 手札 */
#hand {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 20px;
}

/* 牌 */
.card {
  width: 60px;
  height: 100px;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.hand-card {
  position: static;
}

/* 裏 */
.back {
  background: gray;
}

/* 捨てるボタン（牌） */
#discardBtn {
  position: fixed;
  bottom: 80px;
  right: 20px;

  width: 70px;
  height: 110px;

  background: white;
  border-radius: 12px;
  border: 2px solid red;

  display: none;

  color: red;
  font-weight: bold;

  align-items: center;
  justify-content: center;
}

/* テストボタン */
#testButtons {
  position: fixed;
  left: 10px;
  top: 120px;
}

/* 役表示 */
#roleDisplay {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 22px;
}
